.jumbotron {
  background-image: url("https://www.qantas.com/images/qantas/destinations/north-america/hawaii-sunset-kauai/jpg/hero.desktop.jpg");
  font-weight: bolder;
  color: navy;
}

body {
  background-color: #959b6e;
  margin-top: 20px;
}
